modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["nano", "vim"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run my03regex"
author = 43354225
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 02palette.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask App"

[[workflows.workflow]]
name = "Flask App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5001

[deployment]
run = ["sh", "-c", "python3 helloWorld.py"]

[[ports]]
localPort = 5000
externalPort = 80
